# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# NestJS / general build output
dist/
build/

# Turborepo
.turbo/
node_modules/
.next/
dist/
.env*
# Prisma
apps/api-core/prisma/migrations/dev.db

# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Coverage
coverage/
apps/api-core/uploads/
